.radio-group {
  display: inline-flex;
  flex-direction: column;
  margin: 0px 0px 0px 15px;
}

.shift-right {
  margin: 2px;
  left: 20px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.back {
  float: right;
}

.shift-right {
  margin: 2px;
  left: 50px;
}

.card {

}

.olympic-red {
  color: #d50000;
  font-weight:bold;
}