.radio-group {
  display: inline-flex;
  flex-direction: column;
  margin: 0px 0px 0px 15px;
}

.shift-right {
  margin: 2px;
  left: 20px;
}

.center {
    margin: auto;
    padding: 10px;
    max-width:100%;
}

.back {
  float: right;
}

.shift-right2 {
  margin-left: 20px
}

.olympic-red {
  color: #d50000;
  font-weight:bold;
}

.event-name {
  float: left;
}

.event-date {
  float: right;
}

.header-container {
  width: 100%;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.gold {
  background: #FFD700;
}

.silver {
  background: #c0c0c0;
}

.bronze {
  background: #cd7f32;
}

.green {
  color: #00CC00;
  font-weight:bold;
}


