<form class="center" [formGroup]="eventsForm" (ngSubmit)="onSubmit()">
  <div formArrayName="events">
    <h4 class="mat-headline">Picks: {{ this.userDetails.frst_nm }} {{ this.userDetails.lst_nm }}<a (click)="back()" class="back">Back</a></h4>
    <mat-card *ngFor="let event of this.eventsForm.get('events').controls; let i = index;" [formGroupName]="i">
      <mat-card-header>
        <span class="mat-title">{{ this.event_information[i].event_nm }}</span>  <span class="mat-subheading-1">{{this.event_information[i].event_dt }}</span>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group class="radio-group" formControlName="user_selection">
          <mat-radio-button class="radio-button" *ngFor="let participant of this.event_information[i].participants" [value]="participant.event_participant_id">
              {{ participant.participant_nm }} <span *ngIf="participant.country" >({{ participant.country }}) </span> {{ participant.points }} point<span *ngIf="participant.points > 1">s</span>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
  </div>
  <button mat-raised-button color="primary" type="submit">Save</button>
</form>