<!--<div [formGroup]="eventForm">
  <mat-radio-group class="radio-group">
    <mat-radio-button class="radio-button" *ngFor="let p of participants" [value]="p.event_participant_id" >{{ p.participant_nm }} ({{ p.country }})</mat-radio-button>
  </mat-radio-group>
</div>-->
<form [formGroup]="eventForm">
  <mat-radio-group class="example-radio-group">
    <mat-radio-button class="example-radio-button" *ngFor="let p of this.participants" [value]="p.event_participant_id" formControlName="winner">
      {{ p.participant_nm }} ({{ p.country }})
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">You picked: {{ p.participant_nm }}</div>
</form>