<div class="center">
  <img src="../../assets/images/PyeongChang_2018_Winter_Olympics.svg" class="logo col-md-offset-4">
  <mat-card>
    <h4 class="title">Rules</h4>
    <p>
      1. Last day to submit/edit picks is February 9, 2018 at 11:59pm EST. <br />  
      2. The person with the most points wins!<br /> 

    </p>
  </mat-card>
  <!--<button mat-raised-button color="primary" (click)="editPicks()">Edit Picks</button>-->
  <h3 class="subheading-2">Leaderboard: {{ this.userDetails.group_nm }} </h3>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> <a [routerLink]="['/picks', element.user_id]">{{element.name}} </a></mat-cell>
      </ng-container>

      <!-- Points Column -->
      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Points </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.points }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <br/>
</div>