<div >
  <img src="../../assets/images/PyeongChang_2018_Winter_Olympics.svg" class="logo col-md-offset-5">
  <!--<button mat-raised-button color="primary" (click)="editPicks()">Edit Picks</button>-->
  <div class="example-container mat-elevation-z2 col-md-8 col-md-offset-2 ">
    <h3 class="subheading-2">Leaderboard: {{ this.userDetails.group_nm }} </h3>
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <div *ngIf="element.user_id===this.userCredentials.user_id; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <a [routerLink]="['/picks', element.user_id]">{{element.name}} </a>
            </ng-template>
            <ng-template #elseBlock>
              {{element.name}} 
            </ng-template>
        </mat-cell>
      </ng-container>

      <!-- Points Column -->
      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Points </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.points }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <br/>
</div>