<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Welcome!</h3>
    <h2> Log in or Sign up to make your picks</h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <button class="btn btn-primary btn-lg" routerLink="/login" >Login</button>
        <button class="btn btn-success btn-lg" routerLink="/register">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4>The 2018 Winter Olympics are in PyeongChang, South Korea and Opening Ceremonies start February 9.
        To make things a bit more interesting, you can make predictions about who is going to win and maybe even make some money </h4>
    <h6> 
      How it works:<br>
      1. Must make picks before February 10, 2018. <br>
      2. If there is an entry fee, it must be payed by February 10, 2018. <br>
      3. Each event will be worth x number of points as determined by the "Total Points" section.<br>
      4. Those points will be subdived among the event participants based on win probability.<br>
      5. If your pick wins, you will get "Winner Points" number of points.<br>
      6. Whoever has the most points at the end of competition will be the winner.<br>
      7. Prize money will be calculated once all entries are finalized. The total money will probably be
         broken down: 80% to 1st place and 20% to 2nd place.
    </h6>
</div>